services:
{%- if 'backend' in modules %}
  backend:
    ports:
      - "${BACKEND_PORT:-8000}:8000"

  db:
    ports:
      - "${POSTGRES_HOST_PORT:-5432}:5432"
{%- endif %}
{%- if 'tg_bot' in modules or 'notifications' in modules %}

  redis:
    ports:
      - "${REDIS_HOST_PORT:-6379}:6379"
{%- endif %}
{%- if 'frontend' in modules %}

  frontend:
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
{%- endif %}
