services:
{% if 'backend' in modules %}
  backend:
    extends:
      file: compose.base.yml
      service: backend
    build:
      context: ..
      dockerfile: services/backend/Dockerfile
      args:
        INSTALL_DEV_DEPS: ${BACKEND_INSTALL_DEV_DEPS:-false}
    command: >-
      bash -lc "./services/backend/scripts/migrate.sh &&
      uvicorn services.backend.src.main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - ../:/workspace:delegated
    working_dir: /workspace
    env_file:
      - ../.env
    environment:
      PYTHONPATH: /workspace
{% endif %}
{% if 'tg_bot' in modules %}
  tg_bot:
    extends:
      file: compose.base.yml
      service: tg_bot
    volumes:
      - ../:/workspace:delegated
    working_dir: /workspace
    env_file:
      - ../.env
    environment:
      PYTHONPATH: /workspace
{% endif %}

{% if 'backend' in modules %}
  db:
    extends:
      file: compose.base.yml
      service: db
    ports:
      - "5432:5432"
{% endif %}

{% if 'tg_bot' in modules or 'notifications' in modules %}
  redis:
    extends:
      file: compose.base.yml
      service: redis
    ports:
      - "6379:6379"
{% endif %}
