line-length = 100
indent-width = 4
target-version = "py311"

[lint]
select = [
    "E",
    "F",
    "I",
    "UP",
    "B",
    "C4",
    "S",
]
ignore = ["S101"]

[lint.isort]
combine-as-imports = true
force-sort-within-sections = true

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
