from __future__ import annotations

from sqlalchemy.orm import Session

from shared.generated.protocols import {{ protocol_name }}

{% if imports %}
from shared.generated.schemas import (
    {% for model in imports|sort %}
    {{ model }},
    {% endfor %}
)
{% endif %}

class {{ module_name.capitalize() }}Controller({{ protocol_name }}):
    """
    Implementation of {{ protocol_name }}.
    """
    {% for handler in handlers %}
    {% if async_handlers %}async {% endif %}def {{ handler.name }}(
        self,
        session: Session,
        {% for param in handler.params %}
        {{ param.name }}: {{ param.type }},
        {% endfor %}
        {% if handler.request_model %}
        payload: {{ handler.request_model }},
        {% endif %}
    ) -> {{ handler.return_type }}:
        """
        {{ handler.docstring }}
        """
        raise NotImplementedError("Method {{ handler.name }} not implemented")

    {% endfor %}
