version: 2
services:

  - name: backend
    type: python-fastapi
    description: >
      FastAPI backend that exposes REST endpoints, owns the database, and powers the rest of the
      system.
    dev_template: true


  - name: tg_bot
    type: python-faststream
    description: >
      Telegram bot used for user onboarding and backend notifications.
    dev_template: false
    depends_on:
      backend: service_started
      redis: service_healthy
    profiles:
      - tg



