"""Application lifespan events."""

from collections.abc import AsyncGenerator
from contextlib import asynccontextmanager

from fastapi import FastAPI
{% if 'tg_bot' in modules or 'notifications' in modules %}
from shared.generated.events import get_broker
{% endif %}
from ..core.logging import configure_logging


@asynccontextmanager
async def lifespan(_: FastAPI) -> AsyncGenerator[None, None]:
    """Application lifespan context manager."""
    configure_logging()
{% if 'tg_bot' in modules or 'notifications' in modules %}
    broker = get_broker()
    await broker.connect()
{% endif %}
    yield
{% if 'tg_bot' in modules or 'notifications' in modules %}
    await broker.close()
{% endif %}
